In [2]:
import pandas as pd
import numpy as np
import json

In [3]:
data = json.load(open('file_name5.json'))
data2 = json.load(open('file_name4.json'))

In [6]:
df = pd.json_normalize(data["data"])
df2 = pd.json_normalize(data2["data"])

In [7]:
df.head()

,author_id,created_at,text,id
0,1375240729094684676,2022-02-12T20:43:26.000Z,"@artii96 @W_Kowal Legia awans, Artii.",1492600254159540225
1,1351388076879339522,2022-02-12T20:42:36.000Z,@SebastianPx1 @KajetanL @EmyylBe @W_Kowal To s...,1492600045778124802
2,899384057360003072,2022-02-12T20:42:06.000Z,@KajetanL @EmyylBe @W_Kowal Tym że Juventus to...,1492599919219204100
3,2282644466,2022-02-12T20:42:02.000Z,"@RawaLN1 @W_Kowal @mario76wawpl No, ciekawe.",1492599900177117192
4,1445139778127663108,2022-02-12T20:41:12.000Z,"@W_Kowal Przypomnę, że Legia nigdy nie wygrała...",1492599692592660484

In [8]:
df2.head()

,author_id,text,created_at,id
0,3131438158,RT @MBalawelder: #ukraincy #pis #biden #polska...,2022-02-12T20:37:05.000Z,1492598655114792961
1,1259523260355612674,"RT @patriokrata: Korsze, Mazury. \nLudzie zacz...",2022-02-12T20:36:52.000Z,1492598602249773057
2,1231480724785713152,"RT @patriokrata: Korsze, Mazury. \nLudzie zacz...",2022-02-12T20:34:06.000Z,1492597906733338624
3,987423951587553280,RT @MBalawelder: szczury juz spierdalaja :) sl...,2022-02-12T20:29:17.000Z,1492596695296884752
4,890913994621497344,RT @MBalawelder: zydostwo z pisu poswieci Pols...,2022-02-12T20:28:31.000Z,1492596500903469066